<a href="https://colab.research.google.com/github/leoferro/Desafio-Tecnico/blob/main/Desafio_Tecnico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Desafio 1

In [1]:
from random import random, seed
import pandas as pd

##Gerar colunas

In [2]:
frutas = ['abacate', 'abacaxi', 'banana', 'goiaba', 'laranja', 'manga', 'melancia', 'pêssego', 'tangerina', 'uva']


horarios = pd.date_range(
    start = '2022-06-01 12:00',
    end = '2022-06-15 23:00',
    freq = '20min'
)


seed(23)
frutas_aleatorias = [
                     frutas[int(random()*len(frutas))] for _ in range(horarios.shape[0])
                     ]

##Gerar Data Frame

In [3]:
df_dieta = pd.DataFrame({
    'Data_horário':horarios,
    'Fruta':frutas_aleatorias
})

df_dieta.to_csv(
    'desafio1.csv',
    encoding='utf-8',
    index=False
    )

df_dieta.head()

         Data_horário      Fruta
0 2022-06-01 12:00:00        uva
1 2022-06-01 12:20:00        uva
2 2022-06-01 12:40:00  tangerina
3 2022-06-01 13:00:00    abacate
4 2022-06-01 13:20:00      manga

#Desafio 2

In [4]:
df_dieta_2 = pd.read_csv(
    'https://raw.githubusercontent.com/leoferro/Desafio-Tecnico/main/Planilha%20dieta%20de%20frutas.csv',
    sep=';'
    )

In [5]:
df_dieta_2.head()

          Data_horario    Frutas
0  2022-06-01 12:20:00     manga
1  2022-06-01 12:40:00    banana
2  2022-06-01 13:00:00  melancia
3  2022-06-01 13:20:00   abacate
4  2022-06-01 13:40:00   abacaxi

In [6]:
def getFruta(dia : int, mes : int , ano : int, hora :int, min : int) -> str:
  dieta = df_dieta_2.copy()
  dieta.Data_horario = dieta.Data_horario.astype('datetime64[ns]')

  #Validação se entradas são numeros
  try:
    dia=int(dia)
    mes=int(mes)
    ano=int(ano)
    hora=int(hora)
    min=int(min)
  except:
    return 'Não foi possível converter as entradas em números'

  #Validação dia
  mes30 = [4,6,9,11]
  if dia<32 and dia>0:
    if (mes in mes30 and dia>30) or (mes == 2 and (dia>29 or (dia==29 and ano%4!=0))):
      return 'O dia {} não existe no mes {} do ano {}'.format(dia,mes,ano)
  else:
    return 'O dia deve ser entre 1 e 31'

  #Validação mes
  if mes>12 or mes<1:
    return 'O mes deve ser entre 1 e 12'

  #validação hora e minuto:
  if hora>23 or hora<0:
    return 'A hora deve ser entre 0 e 23'
  if min>59 or min<0:
    return 'o minuto deve ser entre 0 e 59'

  #Criação de variáveis de data
  data_dt = pd.to_datetime("{}/{:02d}/{:02d} {:02d}:{:02d}".format(ano,mes,dia,hora,min))

  data_max = dieta.Data_horario.max()
  data_min = dieta.Data_horario.min()

  #Validar dentro da dieta:
  if data_dt > data_max or data_dt < data_min:
    return 'Não há uma dieta de frutas para o horario e data informados'

  #Validação se precisa comer algo no horário solicitado
  encontrar = dieta[dieta.Data_horario==data_dt]
  if not encontrar.shape[0]:
    for indice in range(dieta.shape[0]):
      if dieta.loc[indice].Data_horario>data_dt:
        return "Você não tem que comer nenhuma fruta. Próxima fruta será uma {} em {}".format(
            dieta.loc[indice][1], 
            dieta.loc[indice][0].strftime('%d/%m/%Y %H:%M')
            )

  return "Você deve comer um(a) {}".format(encontrar.iloc[0][1])

In [7]:
getFruta('01','06','2022','12','20')

'Você deve comer um(a) manga'

In [8]:
getFruta('01','06','2022','12','30')

'Você não tem que comer nenhuma fruta. Próxima fruta será uma banana em 01/06/2022 12:40'

In [9]:
getFruta('25','05','2022','12','30')

'Não há uma dieta de frutas para o horario e data informados'

In [10]:
getFruta('35','06','2022','12','30')

'O dia deve ser entre 1 e 31'