<a href="https://colab.research.google.com/github/leoferro/Desafio-Tecnico/blob/main/Desafio_Tecnico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Desafio 1

In [2]:
from random import random, seed
import pandas as pd

##Gerar colunas

In [3]:
frutas = ['abacate', 'abacaxi', 'banana', 'goiaba', 'laranja', 'manga', 'melancia', 'pêssego', 'tangerina', 'uva']


horarios = pd.date_range(
    start = '2022-06-01 12:00',
    end = '2022-06-15 23:00',
    freq = '20min'
)


seed(23)
frutas_aleatorias = [
                     frutas[int(random()*len(frutas))] for _ in range(horarios.shape[0])
                     ]

##Gerar Data Frame

In [4]:
df_dieta = pd.DataFrame({
    'Data_horário':horarios,
    'Fruta':frutas_aleatorias
})

df_dieta.to_csv(
    'desafio1.csv',
    encoding='utf-8',
    index=False
    )

df_dieta.head()

         Data_horário      Fruta
0 2022-06-01 12:00:00        uva
1 2022-06-01 12:20:00        uva
2 2022-06-01 12:40:00  tangerina
3 2022-06-01 13:00:00    abacate
4 2022-06-01 13:20:00      manga

#Desafio 2

In [5]:
df_dieta_2 = pd.read_csv(
    'https://raw.githubusercontent.com/leoferro/Desafio-Tecnico/main/Planilha%20dieta%20de%20frutas.csv',
    sep=';'
    )

In [6]:
df_dieta_2.head()

          Data_horario    Frutas
0  2022-06-01 12:20:00     manga
1  2022-06-01 12:40:00    banana
2  2022-06-01 13:00:00  melancia
3  2022-06-01 13:20:00   abacate
4  2022-06-01 13:40:00   abacaxi

In [55]:
def getFruta(dia : str, mes : str , ano : str, hora :str, min : str) -> str:
  dieta = df_dieta_2.copy()
  dieta.Data_horario = dieta.Data_horario.astype('datetime64[ns]')

  #Validação da data
  try:
    data_dt = pd.to_datetime("{}/{}/{} {}:{}".format(ano,mes,dia,hora,min))
  except:
    return "Dia inválido"

  data_max = dieta.Data_horario.max()
  data_min = dieta.Data_horario.min()

  #Validar dentro da dieta:
  if data_dt > data_max or data_dt < data_min:
    return 'Não há uma dieta de frutas para o horario e data informados'

  #Validação se precisa comer algo no horário solicitado
  encontrar = dieta.loc[dieta.Data_horario==data_dt]
  if not encontrar.shape[0]:
    for indice in range(dieta.shape[0]):
      if dieta.loc[indice].Data_horario>data_dt:
        return "Você não tem que comer nenhuma fruta. Próxima fruta será uma {} em {}".format(
            dieta.loc[indice][1], 
            dieta.loc[indice][0].strftime('%d/%m/%Y %H:%M')
            )
        
  return "Você deve comer um(a) {}".format(encontrar.iloc[0][1])

In [56]:
getFruta('01','06','2022','12','20')

'Você deve comer um(a) manga'

In [50]:
getFruta('01','06','2022','12','30')

'Você não tem que comer nenhuma fruta. Próxima fruta será uma banana em 01/06/2022 12:40'

In [39]:
getFruta('25','05','2022','12','30')

'Não há uma dieta de frutas para o horario e data informados'

In [40]:
getFruta('35','06','2022','12','30')

'Dia inválido'